<h1 class="text-center">Welcome to Mister Cocktail!</h1>

<div class="text-center padded">Pick Add or Edit an awesome Cocktail!
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
      <%= render "card", cocktail: cocktail %>
      </div>
    <% end %>
  </div>
</div>
